.emstock {
		
	list-style-type: none;
	color: green;
	
}

.semstock {
		
	list-style-type: none;
	color: GoldenRod;
	
}

#tabela-encomendas{
	table-layout:fixed;
}

#tabela-encomendas td, #tabela-encomendas th{
	text-align: right;
	padding-right:15px;
	max-width:100px;
	word-wrap: break-word;
	white-space: normal;
}

#tabela-encomenda-publicacoes td, #tabela-encomenda-publicacoes th{
	text-align: right;
}
