.emstock {
		
	list-style-type: none;
	color: green;
	
}

.semstock {
		
	list-style-type: none;
	color: GoldenRod;
	
}

table#tabela-encomendas{
	table-layout:auto;
}

table#tabela-encomendas td,th{
	text-align: right;
	padding:0px !important;
	white-space: pre-line;
	line-height: 1;
	width:100px !important;
}