.emstock {
		
	list-style-type: none;
	color: green;
	
}

.semstock {
		
	list-style-type: none;
	color: GoldenRod;
	
}

table#tabela-encomendas{
	table-layout:fixed;
}

table#tabela-encomendas td,th{
	text-align: right;
	border-spacing: 1000px;
	padding-right:15px;
	max-width:100px;
	word-wrap: break-word;
	white-space: normal;
}

table#tabela-encomenda-publicacoes td,th{
	text-align: right;
}
